<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haconglinh1990.redmineandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_voz2"
        android:label="MeoMeo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.authenticate.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.authenticate.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.authenticate.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_pass_word"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ultils.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.project.ProjectActivity" />
        <activity android:name=".View.issue.IssueDetailActivity" />
        <activity android:name=".View.issue.CreateIssueActivity"
            />
        <activity android:name=".View.issue.EditIssueActivity"></activity>
    </application>

</manifest>